<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IdentityServerUri" value="https://identity.qt-life.nambaya-medical.de" />
    <add key="PatientServiceUri" value="https://services.qt-life.nambaya-medical.de/patient" />

    <add key="RabbitMqHost" value="185.56.131.32" />
    <add key="RabbitMqVirtualHost" value="/" />
    <add key="RabbitMqUsername" value="nambaya" />
    <add key="RabbitMqPassword" value="Nambaya@2021" />
    <add key="RabbitMqQueueName" value="patient_aegnord" />
    <add key="RabbitMqConnectionName" value="Aegnord Notifier" />
    <add key="RabbitMqPort" value="56072" />
    <add key="IsSsl" value="false" />

    <add key="ApiName" value="aegnord_api_client" />
    <add key="ClientId" value="aegnord_api_client" />
    <add key="ClientSecret" value="378c99ed-0611-4d84-3fbd-93b7b38472fa" />
    <add key="Scope" value="file_sharing_api_full file_sharing_api_read patient_api" />

    <add key="CryptShareSenderEmail" value="qt-life-support@nambaya.com" />
    <add key="CryptShareSenderName" value="Nambaya" />
    <add key="CryptShareSenderPhoneNumber" value="0000" />
    <add key="CryptShareServerUrl" value="https://cryptshare.aegnord.de" />
    <add key="RecipientEmailAddresses" value="qt@aegnord.de" />
    <add key="CryptShareSubject" value="Patient Case Report" />
    <add key="CryptSharePassword" value="Bad#Sege" />

    <add key="ApplicationName" value="AEGnordNotifier" />
    
    
  </appSettings>
</configuration>