.test {
  background-color: red;
}
.upload-holder {
  border: 1px dashed #614194;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  height: 260px;
}
.icon-cloud-upload {
  display: block;
  font-size: 60px;
  color: #c33859;
  margin-bottom: 30px;
}

.comment-wrapper {
  border: 1px dashed #614194;
  overflow: hidden;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}
.igx-input-group__hint-item--start {
  white-space: inherit !important;
}
.ecg-info label {
  font-weight: bold;
}
