<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <form class="input-group-form" (ngSubmit)="updatePassword()" [formGroup]="passwordResetForm">
        <div class="main-heading">
          <h4 translate class="sample-title"><span (click)="goBack()" class="icon-previous"></span> change_password</h4>
        </div>
        <app-loader [isLoading]="isLoading"></app-loader>
        <div class="column-holder">
          <div class="columns add">
            <div class="col-lg-12 row">
              <div class="box">
                <button translate class="btn-primary" igxButton="raised" igxRipple>
                  <span class="icon-save"></span>Save
                </button>
                <button translate type="button" (click)="goBack()" class="btn-secandory" igxButton="raised" igxRipple>
                  <span class="icon-highlight_remove"></span>Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>current_password</span>
              <p translate>
                current_password_will_be_required_to_reset
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel translate for="OldPassword">current_password</label>
                  <input
                    igxInput
                    id="OldPassword"
                    name="OldPassword"
                    type="{{ passwordFieldType }}"
                    formControlName="OldPassword"
                    required
                  />
                  <igx-suffix (click)="showPassword()">
                    <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                    ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
                  </igx-suffix>
                </igx-input-group>
                <small
                  translate
                  class="text-danger"
                  style="position:initial;"
                  *ngIf="
                    passwordResetForm.controls.OldPassword.touched &&
                    passwordResetForm.controls.OldPassword.errors?.required
                  "
                >current_password_required
                </small>
              </div>
            </div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>new_password</span>
              <p translate>
                keep_your_password_secure_and_strong
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel translate for="NewPassword">new_password</label>
                  <input
                    igxInput
                    id="NewPassword"
                    name="NewPassword"
                    type="{{ passwordFieldType }}"
                    formControlName="NewPassword"
                    required
                  />
                  <igx-suffix (click)="showPassword()">
                    <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                    ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
                  </igx-suffix>
                </igx-input-group>
                <small
                  translate
                  class="text-danger"
                  style="position:initial;"
                  *ngIf="
                    passwordResetForm.controls.NewPassword.touched &&
                    passwordResetForm.controls.NewPassword.errors?.invalidPassword
                  "
                >validation_password_minimum_error
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel translate for="confirmPassword">Confirm Password</label>
                  <input
                    igxInput
                    id="confirmPassword"
                    name="confirmPassword"
                    type="{{ passwordFieldType }}"
                    formControlName="confirmPassword"
                  />
                  <igx-suffix (click)="showPassword()">
                    <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                    ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
                  </igx-suffix>
                </igx-input-group>
                <small
                  translate
                  class="text-danger"
                  *ngIf="
                    passwordResetForm.controls.confirmPassword.touched &&
                    passwordResetForm.controls.confirmPassword.errors?.passwordMismatch
                  "
                >validation_password_does_not_match
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-5">&nbsp;</div>
        </div>
      </form>
    </article>
  </section>
</div>
