<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Anmeldeprozess</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel todo-remove">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich den Benutzernamen vergessen habe?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Der Benutzername ist in der Regel Ihre E-Mal-Adresse, die Sie dem Apothekerverband mitgeteilt haben. Haben Sie
      trotzdem noch Schwierigkeiten, melden Sie sich bitte beim Helpdesk: QT-Life.Team@apotheke-sh.de  oder 0160 928 322
      69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich das Passwort vergessen haben?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie den Schriftzug "Passwort vergessen" an. Unter Angabe der E-Mail-Adresse bekommen Sie umgehend eine
      Mail mit einem Link, über den Sie das Passwort zurücksetzen können.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich keine E-Mail zum Zurücksetzen des Passworts bekomme?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Kontrollieren Sie auch Ihren Spam-Ordner. Lässt sich die E-Mail auch dort nicht finden, melden Sie sich bitte beim
      Helpdesk: QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn kein OTP angekommen ist?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Prüfen Sie auch Ihren Spam Ordner oder Ihre SMS. Kontrollieren Sie Ihren Benachrichtigungstyp unter
      "Einstellungen". Bitte melden Sie sich beim Helpdesk unter QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69,
      sollten Sie weiterhin Schwierigkeiten haben.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Einstellungen</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich die Sprache wechseln?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie auf das Profil-Symbol oben rechts. Unter "Einstellungen" kann zwischen deutscher und englischer
      Standardsprache gewählt werden.
      <a [routerLink]="['/pharmacist/help']" fragment="Einstellungen"
        >Sehen Sie sich hierzu das Video "4. Einstellungen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich den Benachrichtigungstyp (E-Mail/SMS)ändern?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie auf das Profil-Symbol oben rechts. Unter "Einstellungen" können Sie den gewünschten
      Benachrichtigungstyp (SMS oder E-Mail) für den Erhalt von OTPs auswählen. Achten Sie beim Wechsel des
      Benachrichtigungstyps darauf, dass Sie die dazu benötigten Kontaktdaten (Telefonnummer oder E-Mail-Adresse) in
      Ihrem Profil hinterlegt und verifiziert haben.
      <a [routerLink]="['/pharmacist/help']" fragment="Einstellungen">
        Sehen Sie sich hierzu das Video "4. Einstellungen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wo kann ich meine Kontaktdaten aktualisieren?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie auf das Profil-Symbol oben rechts. Unter "Profil" können Sie ihre Kontaktdaten aktualisieren.
      <a [routerLink]="['/pharmacist/help']" fragment="Profil">
        Sehen Sie sich hierzu das Video "2. Kontaktdaten prüfen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich mein Passwort ändern?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie auf das Profil-Symbol oben rechts. Unter "Einstellungen" haben Sie die Möglichkeit, ein neues Passwort
      anzulegen.
      <a [routerLink]="['/pharmacist/help']" fragment="PasswortAndern">
        Sehen Sie sich hierzu das Video "5. Passwort ändern" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Patientenmanagement</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich habe das Arzneimittelinterview mit Pharma4u abgeschlossen, aber ich finde den Patienten nicht auf
        nambaya-medical.
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Bitte melden Sie sich beim Helpdesk: QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was ist die Patienten-ID?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Patienten -ID besteht aus der jeweiligen Apothekennummer (6-stellig) und einem zufällig durch Pharma4u
      generierten Code.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie finde ich in der Patientenliste meinen aktuellen Fall?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sie haben in der Patientenliste oben rechts eine Filter- bzw. Suchoption. Sie können nach Patienten ID, Vor- oder
      Nachnamen oder Geschlecht filtern.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Rekordermanagement</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Die Startzeit der Messung ist noch unklar, da der Patient das Gerät zu Hause selbst anlegt. Was tun?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Bestätigen Sie das Startdatum und die ungefähre Startzeit mit dem "Set"-Button.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich kann dem/der Patienten/in kein Gerät zuordnen.
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Es können nur registrierte EKG-Rekorder genutzt werden. In dem Fall sind alle registrierten Geräte gerade in
      Bentzung eines/einer Patienten/in bzw. die ausstehenden Schnellauswertungen sind noch nicht abgeschlossen.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich kann dem/der Patienten/in kein Gerät zuordnen, obwohl ein Gerät in der Apotheke verfügbar ist.
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Kontrollieren Sie, ob Sie alle zur Verfügung stehenden Geräte im System angelegt haben. Kontrollieren Sie in der
      Geräteliste, ob Geräte fälschlicherweise zugewiesen sind. Melden Sie sich in diesm Fall beim Helpdesk:
      QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was trage ich bei der Geräteregistrierung bei "Name" ein?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Den Namen können Sie frei wählen, z.B. Faros 180; Gerät 1, etc.
      <a [routerLink]="['/pharmacist/help']" fragment="GeratHinzufugen">
        Sehen Sie sich hierzu das Video "6. Gerät hinzufügen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was trage ich bei der Geräteregistrierung bei Seriennummer ein?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die 7-ziffrige Seriennummer finden Sie auf der Rückseite des Geräts und der Außenseite der QT-Box. Bitte tragen
      Sie die Seriennummer sorgfältig ein.
      <a [routerLink]="['/pharmacist/help']" fragment="GeratHinzufugen">
        Sehen Sie sich hiezu das Video "6. Gerät hinzufügen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich habe eine falsche Seriennummer eingetragen
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Es können nur registrierte EKG-Rekorder für die Auswertung genutzt werden. Sie Können die Seriennummer
      nachträglich korrigieren: Unter Geräte >> Liste >> Aktion/ Bleistift >> Rekorder bearbeiten >> Seriennummer
      anpassen und speichern
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Messvorgang</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Kann der/die Patient/-in den Rekorder auch selbstständig zu Hause anlegen?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Es wird im Rahmen des QT-Life-Projekts angeraten den Rekorder in der Apotheke anzulegen. Jedoch steht es dem/der
      Patienten/in frei darüber zu entscheiden, ob er/sie sich den Rekorder lieber eigenständig zu Hause anlegt.
      Entscheidet sich der/die Patient/in für Letzeres, geben Sie ihm/ihr bitte den Flyer "Anleitung zum Anlegen des
      EKG-Rekorders" mit und erklären Sie ihm/ihr vor Ort, was beim Anlegen zu beachten ist.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie wird der EKG-Rekorder dem Patienten angelegt?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/pharmacist/help']" fragment="RekorderAnlegen"
        >Sehen Sie sich hierzu das Video "8. Rekorder anlegen"</a
      >
      und den beigelegten Flyer "Anleitung zum Anlegen des EKG-Rekorders" an.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ist der EKG-Rekorder wasserdicht?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Ja, der EKG-Rekorder ist wasserdicht. Die Patient/innen können den EKG-Rekorder ohne Probleme zum Duschen und zum
      Sport tragen. Achten Sie darauf, dass das USB-Kabel und der EKG-Rekorder fest verbunden sind. Längeres Baden oder
      Schwimmen sollte jedoch vermieden werden! Bitte beachten Sie die Informationen zum Rekorder auf den beigelegten
      Flyern.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie schalte ich das Gerät an?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Drücken Sie einmal kurz auf den An/Aus Knopf mittig auf dem EKG-Rekorder. Es ertönt kurz danach ein Signalton.
      Wenn das Gerät aufzeichnet blinkt eine grüne Kontrollleuchte, bei genauerem Hinsehen, alle fünf Sekunden auf.
      <a [routerLink]="['/pharmacist/help']" fragment="RekorderAnlegen"
        >Sehen Sie sich hierzu das Video "8. Rekorder anlegen"</a
      >
      und den beigelegten Flyer "Anleitung zum Anlegen des EKG-Rekorders" an.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie schalte ich das Gerät aus?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Für QT-Life: der Rekorder schaltet sich nach 25 Stunden automatisch aus. Anschließend kann die Elekrode abgenommen
      und vom Rekorder gelöst werden.
      <a [routerLink]="['/pharmacist/help']" fragment="RekorderAnlegen">
        Sehen Sie sich hierzu das Video "8. Rekorder anlegen"</a
      >
      und den beigelegten Flyer "Anleitung zum Anlegen des EKG-Rekorders" an.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich Messfehler vermeiden, um eine möglichst hohe Messqualität zu erlangen?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Bewahren Sie die Fast-Fix-Elektrode sorgsam nach Anleitung (siehe Flyer) auf. Achten Sie vor dem Ankleben darauf,
      dass die Körperbehaarung an entsprechender Stelle entfernt wurde. Nach dem Rasieren sollte die Stelle nicht mit
      Alkohol oder Hautcremes behandelt werden. Die Hautstelle sollte fettfrei und trocken sein. Stellen Sie sicher,
      dass das Messgerät fest mit dem Mini-USB Anschluss der Elektrode verbunden ist.
      <a [routerLink]="['/pharmacist/help']" fragment="RekorderAnlegen">
        Sehen Sie sich hierzu das Video "8. Rekorder anlegen"</a
      >
      und den beigelegten Flyer "Anleitung zum Anlegen des EKG-Rekorders" an.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie werden die Elektroden bestmöglich aufbewahrt?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Bitte lagern Sie die Elektroden möglichst luftdicht und bei kühler Raumtemperatur. Die QT-Box sollte am besten in
      einem abschließbaren Schrank aufbewahrt werden, der keiner Hitze oder Sonneneinstrahlungen ausgesetzt ist. Die Box
      darf nicht auf einer Heizung abgestellt werden. Die Verpackung der Fast-Fix-Elektrode darf erst kurz vor Gebrauch
      geöffnet werden, um ein Austrocknen des das Signal weiterleitenden Gels zu vermeiden.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie lange sollte gemessen werden?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Gemessen werden 25 Stunden, dann wird die Messung automatisch beendet. Nach den 25 Stunden kann das Gerät von der
      Elektrode entfernt werden.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Woran erkenne ich, dass der EKG-Rekorder gerade aufzeichnet?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sobald der EKG-Rekorder die Daten aufzeichnet, blinkt eine grüne Kontrollleuchte alle fünf Sekunden auf. Hinweis:
      Das grüne Signal leuchtet nur relativ schwach, prüfen Sie, ob der Rekorder misst, also in eher dunkler Umgebung.
      <a [routerLink]="['/pharmacist/help']" fragment="RekorderAnlegen"
        >Sehen Sie sich hierzu das Video "8. Rekorder anlegen"</a
      >
      und den beigelegten Flyer "Anleitung zum Anlegen des EKG-Rekorders" an.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie lange hält der Akku?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Beachten Sie bitte, dass der EKG-Rekorder eine Akkulaufzeit von zirca einer Woche besitzt. Laden Sie das Gerät
      also vor Aushändigung an den Kunden nochmal komplett auf. Siehe Flyer.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn sich die Elektroden lösen?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Kein Problem, lösen Sie die Elektrode ab und ersetzen Sie diese mit einer neuen Elektrode.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Messung hochladen</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wo finde ich die EDF-Datei?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Verbinden Sie den EKG-Rekorder mit Ihrem Rechner. Der EKG-Rekorder wird Ihnen als Laufwerk FAROS_DATA angezeigt.
      Öffnen Sie das Laufwerk und anschließend den Ordner "DATA". Die EDF-Datei befindet sich im Ordner, benannt nach
      dem Datum der Messung.
      <a [routerLink]="['/pharmacist/help']" fragment="Anlegen">
        Sehen Sie sich hierzu Video "9. EDF hochladen + Schnellauswertung" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Muss ich die EDF-Datei zwischenspeichern und aufbewahren?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Nein, Sie können die EDF-Datei direkt vom Gerät in die Plattform hochladen, ohne sie zwischenzuspeichern. Bitte
      löschen Sie nach dem Abschluss der Schnellauswertung die EDF-Datei vom Gerät, um nicht Gefahr zu laufen, bei
      späteren Kunden die Dateien zu vertauschen und eine Falsche hochzuladen.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Es ist keine EDF-Datei auf dem EKG-Rekorder zu finden?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      In diesem Fall, müssen Sie davon ausgehen, dass der EKG-Rekorder keine Daten aufgenommen hat. Wiederholen Sie die
      Messung. Gehen Sie vorab nochmal den An- und Ausschalte-Mechanismus durch
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich habe die falsche EDF-Datei hochgeladen, was tun?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sofern die Schnellauswertung noch nicht abgeschlossen ist, können Sie die korrekte EDF-Datei erneut hochladen.
      Andernfalls melden Sie sich bitte an den Helpdesk: QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Der Datenupload startet nicht. Was kann ich tun?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Laden Sie die Seite erneut und starten Sie einen zweiten Versuch. Kontrollieren Sie, ob die richtige Datei
      ausgewählt wurde und ob Sie mit dem Internet verbunden sind. Es können nur Dateien mit der Endung .EDF hochgeladen
      werden.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn der Upload fehlgeschlagen ist?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Prüfen Sie Ihre Internetverbindung. Laden Sie die Seite erneut und starten Sie einen zweiten Versuch.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn die Schnellauswertung zu lange dauert?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Geschwindigkeit der Schnellauswertung ist abhängig von Ihrer Internetleistung. Aufgrund hoher Datensicherheit
      hat Nambaya zusätzliche Firewalls, die sich auch auf die Upload Geschwindigkeit auswirken können. Dauert die
      Auswertung sehr lange oder ist eingefroren, kontrollieren Sie bitte Ihre Internetverbindung. Laden Sie die Seite
      erneut und starten Sie einen zweiten Versuch. Sollten Sie dennoch Schwierigkeiten haben, melden Sie sich beim
      Helpdesk unter QT-Life.Team@apotheke-sh.de  oder 0160 928 322 69.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>
