<app-loader [isLoading]="isLoading"></app-loader>
<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <form class="input-group-form" (ngSubmit)="updateCardiologist()" [formGroup]="cardiologistEditForm">
        <div class="main-heading">
          <h4 class="sample-title" translate>
            <span (click)="goBack()" class="icon-previous"></span> Edit Cardiologist
          </h4>
        </div>
        <div class="column-holder">
          <div class="columns add">
            <div class="col-lg-12">
              <div class="box">
                <button class="btn-primary" translate igxButton="raised" igxRipple>
                  <span class="icon-save"></span>Save
                </button>
                <button type="button" (click)="goBack()" class="btn-secandory" igxButton="raised" igxRipple translate>
                  <span class="icon-highlight_remove"></span>Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Basic</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel translate for="firstName">First Name</label>
                  <input igxInput name="firstName" id="firstName" type="text" required formControlName="firstName" />
                </igx-input-group>
                <small
                  *ngIf="
                    cardiologistEditForm.controls.firstName.touched &&
                    cardiologistEditForm.controls.firstName.errors?.required
                  "
                  class="text-danger"
                  translate
                  >First name is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.firstName.touched &&
                    cardiologistEditForm.controls.firstName.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="lastName" translate>Last Name</label>
                  <input igxInput name="lastName" id="lastName" type="text" required formControlName="lastName" />
                </igx-input-group>
                <small
                  *ngIf="
                    cardiologistEditForm.controls.lastName.touched &&
                    cardiologistEditForm.controls.lastName.errors?.required
                  "
                  class="text-danger"
                  translate
                  >Last name is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.lastName.touched &&
                    cardiologistEditForm.controls.lastName.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>

              <div class="box">
                <igx-input-group>
                  <label igxLabel for="doctorID" translate>Doctor ID</label>
                  <input igxInput name="doctorID" id="doctorID" type="text" required formControlName="doctorID" />
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.doctorID.touched &&
                    cardiologistEditForm.controls.doctorID.errors?.invalidNumber &&
                    !cardiologistEditForm.controls.doctorID.errors?.invalidMaxLength
                  "
                  translate
                  >Doctor Id is not a valid number
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.doctorID.touched &&
                    cardiologistEditForm.controls.doctorID.errors?.invalidMaxLength
                  "
                  translate
                  >max_12_characters_allowed
                </small>
                <small
                  *ngIf="
                    cardiologistEditForm.controls.doctorID.touched &&
                    cardiologistEditForm.controls.doctorID.errors?.required
                  "
                  class="text-danger"
                  translate
                  >Doctor Id is required
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="companyID" translate>clinic_no</label>
                  <input igxInput name="companyID" id="companyID" required type="text" formControlName="companyID" />
                </igx-input-group>
                <small
                  translate
                  [hidden]="
                    cardiologistEditForm.controls.companyID.valid || cardiologistEditForm.controls.companyID.untouched
                  "
                  class="text-danger"
                  translate
                  >clinic_number_required
                </small>
              </div>
            </div>
          </div>

          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Contact Details</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="email" translate>Email address</label>
                  <input igxInput name="email" id="email" type="email" required formControlName="email" readonly />
                </igx-input-group>
                <small
                  *ngIf="
                    cardiologistEditForm.controls.email.touched && cardiologistEditForm.controls.email.errors?.required
                  "
                  class="text-danger"
                  translate
                  >Email is required
                </small>
                <small
                  *ngIf="
                    cardiologistEditForm.controls.email.touched &&
                    cardiologistEditForm.controls.email.errors?.email &&
                    !cardiologistEditForm.controls.email.errors?.invalidMaxLength
                  "
                  class="text-danger"
                  translate
                  >invalid_email_address
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.email.touched &&
                    cardiologistEditForm.controls.email.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="phone" translate>Mobile</label>
                  <input type="text" id="phone" igxInput name="phone" formControlName="phone" />
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.phone.touched &&
                    cardiologistEditForm.controls.phone.errors?.invalidNumber &&
                    !cardiologistEditForm.controls.phone.errors?.invalidMaxLength
                  "
                  translate
                  >Phone number is not valid
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.phone.touched && cardiologistEditForm.controls.phone.errors?.required
                  "
                  translate
                  >Phone number is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.phone.touched &&
                    cardiologistEditForm.controls.phone.errors?.invalidMaxLength
                  "
                  translate
                  >max_20_characters_allowed
                </small>
              </div>
            </div>

            <div class="col-lg-5">&nbsp;</div>
          </div>

          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Address Details</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <input igxInput id="street" name="street" type="text" formControlName="street" />
                  <label igxLabel for="street" translate>Street</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.street.touched &&
                    cardiologistEditForm.controls.street.errors?.invalidMaxLength
                  "
                  translate
                  >max_200_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="address" name="address" type="text" formControlName="address" />
                  <label igxLabel for="address" translate>City</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.address.touched &&
                    cardiologistEditForm.controls.address.errors?.invalidMaxLength
                  "
                  translate
                  >max_200_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="zipCode" name="zipCode" type="text" formControlName="zipCode" />
                  <label igxLabel for="zipCode" translate>Zip Code</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.zipCode.touched &&
                    cardiologistEditForm.controls.zipCode.errors?.invalidNumber &&
                    !cardiologistEditForm.controls.zipCode.errors?.invalidMaxLength
                  "
                  translate
                >
                  Zip Code is not a valid number
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    cardiologistEditForm.controls.zipCode.touched &&
                    cardiologistEditForm.controls.zipCode.errors?.invalidMaxLength
                  "
                  translate
                  >max_5_characters_allowed
                </small>
              </div>
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>

          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Status</span>
            </div>
            <div class="col-lg-3">
              <div class="box" translate>
                <igx-switch [checked]="true" name="isActive" id="isActive" formControlName="isActive"> </igx-switch>
                {{ cardiologistEditForm.value.isActive ? 'Active' : 'Inactive' }}
              </div>
            </div>

            <div class="col-lg-3">
              <div class="box" translate>
                <igx-switch [checked]="true" name="isLocked" id="isLocked" formControlName="isLocked"> </igx-switch>
                {{ cardiologistEditForm.value.isLocked ? 'Locked' : 'unlocked' }}
              </div>
            </div>

            <div class="col-lg-5">&nbsp;</div>
          </div>
        </div>
      </form>
    </article>
  </section>
</div>
