<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <app-loader [isLoading]="isLoading"></app-loader>
      <form class="input-group-form" (ngSubmit)="createNewDoctor()" [formGroup]="doctorCreateForm">
        <div class="main-heading">
          <h4 class="sample-title" translate><span (click)="goBack()" class="icon-previous"></span> add_doctor</h4>
        </div>
        <div class="column-holder">
          <div class="columns add">
            <div class="col-lg-12">
              <div class="box">
                <button class="btn-primary" igxButton="raised" igxRipple translate>
                  <span class="icon-save"></span>Save
                </button>
                <button type="button" (click)="goBack()" class="btn-secandory" igxButton="raised" igxRipple translate>
                  <span class="icon-highlight_remove"></span>Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Basic</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="firstName" translate>First Name</label>
                  <input igxInput name="firstName" id="firstName" type="text" required formControlName="firstName" />
                </igx-input-group>
                <small
                  *ngIf="
                    doctorCreateForm.controls.firstName.touched && doctorCreateForm.controls.firstName.errors?.required
                  "
                  class="text-danger"
                  translate
                  >First name is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.firstName.touched &&
                    doctorCreateForm.controls.firstName.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="lastName" translate>Last Name</label>
                  <input igxInput name="lastName" id="lastName" type="text" required formControlName="lastName" />
                </igx-input-group>
                <small
                  *ngIf="
                    doctorCreateForm.controls.lastName.touched && doctorCreateForm.controls.lastName.errors?.required
                  "
                  class="text-danger"
                  translate
                  >Last name is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.lastName.touched &&
                    doctorCreateForm.controls.lastName.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="doctorId" translate>Doctor ID</label>
                  <input igxInput name="doctorId" id="doctorId" type="text" formControlName="doctorId" />
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.doctorId.touched &&
                    doctorCreateForm.controls.doctorId.errors?.invalidNumber &&
                    !doctorCreateForm.controls.doctorId.errors?.invalidMaxLength
                  "
                  translate
                  >Doctor Id is not a valid number
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.doctorId.touched &&
                    doctorCreateForm.controls.doctorId.errors?.invalidMaxLength
                  "
                  translate
                  >max_9_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="companyId" translate>companyId</label>
                  <input igxInput name="companyId" id="companyId" type="text" required formControlName="companyId" />
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.companyId.touched &&
                    doctorCreateForm.controls.companyId.errors?.invalidNumber &&
                    !doctorCreateForm.controls.companyId.errors?.invalidMaxLength
                  "
                  translate
                  >invalid_company_id
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.companyId.touched &&
                    doctorCreateForm.controls.companyId.errors?.invalidMaxLength
                  "
                  translate
                  >max_7_characters_allowed
                </small>
                <small
                  *ngIf="
                    doctorCreateForm.controls.companyId.touched && doctorCreateForm.controls.companyId.errors?.required
                  "
                  class="text-danger"
                  translate
                  >company_id_required
                </small>
              </div>
              ​ ​
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>
          ​
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Contact Details</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="email" translate>Email address</label>
                  <input igxInput name="email" id="email" type="email" formControlName="email" />
                </igx-input-group>
                <small
                  *ngIf="
                    doctorCreateForm.controls.email.touched &&
                    doctorCreateForm.controls.email.errors?.email &&
                    !doctorCreateForm.controls.email.errors?.invalidMaxLength
                  "
                  class="text-danger"
                  translate
                  >invalid_email_address
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.email.touched && doctorCreateForm.controls.email.errors?.invalidMaxLength
                  "
                  translate
                  >max_80_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="phone" translate>Mobile</label>
                  <input type="text" id="phone" igxInput name="phone" formControlName="phone" />
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.phone.touched &&
                    doctorCreateForm.controls.phone.errors?.invalidNumber &&
                    !doctorCreateForm.controls.phone.errors?.invalidMaxLength
                  "
                  translate
                  >Phone number is not valid
                </small>
                <small
                  class="text-danger"
                  *ngIf="doctorCreateForm.controls.phone.touched && doctorCreateForm.controls.phone.errors?.required"
                  translate
                  >Phone number is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.phone.touched && doctorCreateForm.controls.phone.errors?.invalidMaxLength
                  "
                  translate
                  >max_20_characters_allowed
                </small>
              </div>
            </div>
            ​
            <div class="col-lg-5">&nbsp;</div>
          </div>
          ​ ​ ​ ​ ​
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Address Details</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              ​
              <div class="box">
                <igx-input-group>
                  <input igxInput id="street" name="street" type="text" formControlName="street" />
                  <label igxLabel for="street" translate>Street</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.street.touched &&
                    doctorCreateForm.controls.street.errors?.invalidMaxLength
                  "
                  translate
                  >max_200_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="address" name="address" type="text" formControlName="address" />
                  <label igxLabel for="address" translate>City</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.address.touched &&
                    doctorCreateForm.controls.address.errors?.invalidMaxLength
                  "
                  translate
                  >max_200_characters_allowed
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="zipCode" name="zipCode" type="text" formControlName="zipCode" />
                  <label igxLabel for="zipCode" translate>Zip Code</label>
                </igx-input-group>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.zipCode.touched &&
                    doctorCreateForm.controls.zipCode.errors?.invalidNumber &&
                    !doctorCreateForm.controls.zipCode.errors?.invalidMaxLength
                  "
                  translate
                >
                  Zip Code is not a valid number
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    doctorCreateForm.controls.zipCode.touched &&
                    doctorCreateForm.controls.zipCode.errors?.invalidMaxLength
                  "
                  translate
                  >max_5_characters_allowed
                </small>
              </div>
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>
        </div>
      </form>
    </article>
  </section>
</div>
