<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Anmeldeprozess</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel todo-remove">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich den Benutzernamen vergessen habe?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Der Benutzername ist in der Regel Ihre E-Mail-Adresse, die Sie Nambaya mitgeteilt haben. Haben Sie trotzdem noch
      Schwierigkeiten, melden Sie sich bitte unter qt-life-support@nambaya.com oder 01522 8814096. Wir setzen uns mit
      Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich das Passwort vergessen haben?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Klicken Sie den Schriftzug "Passwort vergessen" an. Unter Angabe der E-Mail-Adresse bekommen Sie umgehend eine
      Mail mit einem Link, über den Sie das Passwort zurücksetzen können.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich keine E-Mail zum Zurücksetzen des Passworts bekomme?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Kontrollieren Sie auch Ihren Spam-Ordner. Lässt sich die E-Mail auch dort nicht finden, melden Sie sich bitte
      unter qt-life-support@nambaya.com oder 01522 8814096. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn kein OTP angekommen ist?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Prüfen Sie auch Ihren Spam Ordner oder Ihre SMS. Unter "Einstellungen" können Sie Ihren bevorzugten
      Benachrichtungungstyp einstellen und ändern. Ist die OTP jedoch weder per E-Mail noch per SMS angekommen, melden
      Sie sich unter qt-life-support@nambaya.com. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Einstellungen</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich die Sprache wechseln?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/cardiologist/help']" fragment="Einstellungen">Klicken Sie</a> auf das Profil-Symbol oben
      rechts. Unter "Einstellungen" kann zwischen deutscher und englischer Standardsprache gewählt werden.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich den Benachrichtigungstyp (E-Mail/SMS) ändern?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/cardiologist/help']" fragment="Einstellungen">Klicken Sie</a> auf das Profil-Symbol oben
      rechts. Unter "Einstellungen" können Sie den gewünschten Benachrichtigungstyp (SMS oder E-Mail) auswählen. Achten
      Sie beim Wechsel des Benachrichtigungstyps darauf, dass Sie die dazu benötigten Kontaktdaten (Telefonnummer oder
      E-Mail-Adresse) in Ihrem Profil hinterlegt und verifiziert haben.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wo kann ich meine Kontaktdaten aktualisieren?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/cardiologist/help']" fragment="ProfilUberprufen">Klicken Sie</a>auf das Profil-Symbol oben
      rechts. Unter "Profil" können Sie ihre Kontaktdaten aktualisieren.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich ein neues Passwort anlegen?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/cardiologist/help']" fragment="PasswortAndern">Klicken Sie</a> auf das Profil-Symbol oben
      rechts. Unter "Einstellungen" haben Sie die Möglichkeit ein neues Passwort anzulegen.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich meine Signatur ändern
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Signatur dient der individellen und autorisierten Befundbestätigung. Die Signatur müssen Sie nach der
      Erstanmeldung nur einmalig eingeben und speichern. Möchten Sie die Signatur ändern ist dies aber möglich: unter
      dem Reiter "Unterschrift" >> "Vorschau"" können Sie die Signatur löschen und anschließend eine Neue hinterlegen.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Patientenmanagement/ Fallmanagement</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Der ausgewählte Fall lässt sich nicht zuweisen?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Melden Sie sich unter qt-life-support@nambaya.com. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Es sind keine offenen Fälle verfügbar (trotz "New Patient Case Available" E-Mail)?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      In diesem Fall wird der neue Fall schon von einer der anderen Kardiologien bearbeitet.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie finde ich in der Patientenliste meinen akuellen Fall/ eine/n Patienten/-in?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sie haben in der Patientenliste oben rechts eine Filter- bzw. Suchoption. Sie können nach Patienten ID, Vor- oder
      Nachnamen oder Geschlecht filtern.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Welchen Fall soll ich mir zuerst zuweisen und bearbeiten?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sind meherer Fälle verfügbar, haben immer die Fälle Vorrang, die einen rot-roten Status bei der Schnellauswertung
      anzeigen. Diese sollen immer zu allererst bearbeitet werden. In den Fall-Listen können Sie nach dem Status
      sortieren.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie kann ich die Fälle sortieren und filtern?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Mit einem Einmal- oder Doppelklick in der oberen Leiste können Sie nach den verschiedenen Inhalten sortieren (z.B.
      QE Status nach rot sortieren). Außerdem haben Sie rechts oberhalb der Leiste eine Filter- bzw. Suchoption. Sie
      können nach Patienten ID, QE-Status, Vor- oder Nachnamen oder Geschlecht filtern.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was ist die Patienten ID?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Patienten -ID besteht aus der jeweiligen Apothekennummer (6-stellig) und einem zufällig durch Pharma4u
      generierten Code.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was ist die Navigator-Fall-ID?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Navigator-Fall-ID ist wichtig, um im Navigator den richtigen Fall zu finden. Haben Sie einen Fall ausgewählt,
      den Sie nun bearbeiten möchten, notieren Sie bitte die Navigator ID- bzw. den Namen des Patienten, bevor Sie den
      Navigator starten <span class="icon-arrow_forward_ios"></span> Die gleiche ID wird auch per E-Mail gesendet, wenn
      ein neuer Fall verfügbar ist.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Navigator Starten</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie starte ich den Navigator?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Sie haben sowohl beim jeweiligen Fall einen Navigator Butten <span class="icon-arrow_forward_ios"></span>, als
      auch in der ganz obersten Leiste neben Ihrem Profil-Wizard. Über beide Buttons können Sie den Navigator starten.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Die Navigator Anwendung öffnet sich nicht?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Hat sich die CitrixStorefront geöffnet, drücken Sie mit einem Klick auf das Navigator-Icon. Es kann selbst bei
      schneller Internetverbindung einen Moment dauern, bis sich die Anwendung öffnet.
      <a [routerLink]="['/cardiologist/help']" fragment="NavigatorOffnen">
        Sehen Sie sich hierzu das Video "9. Navigator öffnen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich kann meine Zugangsdaten für den Navigator nicht eingeben.
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      In diesem Fall müsste das Navigator-Icon in der Taskleiste orange aufblinken. Klicken Sie das Icon in der
      Taskleiste an. Die orangene Farbe erlischt und die Eingabe des Benutzernamens und des Passworts sollte nun möglich
      sein.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn ich die Anmeldedaten vergessen habe?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Melden Sie sich unter qt-life-support@nambaya.com. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie finde ich meinen Fall im Navigator?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Im Navigator befinden sich alle Messungen des QT-Life-Projekts. Also auch die Fälle und Messungen der anderen
      Kardiologen. Um Ihren Fall zu finden, geben Sie unten im Suchfeld den Patientennamen oder die Navigator-Fall-ID
      ein. Vergleichen Sie diese noch einmal mit den Daten aus Nambaya Medical.
      <a [routerLink]="['/cardiologist/help']" fragment="NavigatorOffnen">
        Sehen Sie sich hierzu das Video "9. Navigator öffnen" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wo ist der Bericht abzuspeichern?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Legen Sie sich im Vorfeld einen Ordner in Ihrem lokalen Laufwerk C an, in dem Sie alle EKG-Berichte speichern
      werden. In Citrix finden Sie diesen Ordner unter Local Disk. Bitte nur dort speichern.
      <a [routerLink]="['/cardiologist/help']" fragment="BerichtErstellenUndSpeichern">
        Sehen Sie sich hierzu das Video "10. Bericht erstellen und speichern" an.</a
      >
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>

<div class="column-holder">
  <div class="main-heading">
    <h4 class="sample-title" translate>Messung hochladen</h4>
  </div>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Wie lade ich den Bericht runter?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      <a [routerLink]="['/cardiologist/help']" fragment="BerichtErstellenUndSpeichern"
        >Sehen Sie sich hierzu das Video "10. Bericht erstellen und speichern"</a
      >
      oder die Hilfe Section im Navigator. Bitte legen Sie sich einen Speicherort auf Ihrem lokalen Laufwerk an, in dem
      Sie die Berichte abspeichern.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Muss ich die PDF-Datei, also den Bericht, zwischenspeichern und aufbewahren?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Ja, Sie müssen die Patientendaten 20 Jahre aubewahren.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Der Datenupload startet nicht. Was kann ich tun?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Laden Sie die Seite erneut und starten Sie einen zweiten Versuch. Prüfen Sie, ob die richtige Datei ausgewählt
      wurde und Sie beim richtigen Patienten sind. Es können nur PDF-Dateien hochgeladen werden
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn der Upload fehlgeschlagen ist?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Überprüfen Sie ihre Internetverbindung. Laden Sie die Seite erneut und starten Sie einen zweiten Versuch.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Ich habe die falsche PDF-Datei hochgeladen, was tun?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Melden Sie sich unter qt-life-support@nambaya.com oder 01522 8814096. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn kein OTP angekommen ist?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Prüfen Sie auch Ihren Spam Ordner oder Ihre SMS. Ist die OTP nicht angekommen, melden Sie sich unter
      qt-life-support@nambaya.com oder 01522 8814096. Wir setzen uns mit Ihnen in Verbindung.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was ist der Unterschied zwischen Anmerkungen innerhalb des Berichts und Anmerkungen beim Hochladen des Berichts?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Die Anmerkungen beim Hochaden des Berichts sind für die zentrale Leitstelle (ÄG Nord) direkt sichtbar. Sind im EKG
      also z.B. Auffälligkeiten oder haben Sie sonstige Empfehlungen für die Patientenbehandlung, kommentieren Sie diese
      bitte kurz im Anmerkungsfeld.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="my-expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-description>
        Was tun, wenn sich der Fall nicht abschließen lässt?
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="my-expansion-panel">
      Zum Abschließen des Falls muss eine Signatur von Ihnen hinterlegt sein. Unter "Unterschrift" können Sie diese
      eintragen - dies ist nur einmalig nötig.
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>
