<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <app-loader [isLoading]="isLoading"></app-loader>
      <form class="input-group-form" (ngSubmit)="createNewPharmacy()" [formGroup]="pharmacyAddForm">
        <div class="main-heading">
          <h4 class="sample-title" translate><span (click)="goBack()" class="icon-previous"></span> Add Pharmacy</h4>
        </div>
        <div class="column-holder">
          <div class="columns add">
            <div class="col-lg-12">
              <div class="box">
                <button class="btn-primary" igxButton="raised" igxRipple translate>
                  <span class="icon-save"></span>Save
                </button>
                <button type="button" (click)="goBack()" class="btn-secandory" igxButton="raised" igxRipple translate>
                  <span class="icon-highlight_remove"></span>Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Basic</span>
              <p translate>
                having_an_up_to_date_email_address_attached_to_your_account
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="firstName" translate>pharmacy_name</label>
                  <input igxInput name="name" id="firstName" type="text" required formControlName="name" />
                </igx-input-group>
                <small
                  [hidden]="pharmacyAddForm.controls.name.valid || pharmacyAddForm.controls.name.untouched"
                  class="text-danger"
                  translate
                >
                  Name is required
                </small>
              </div>

              <div class="box">
                <igx-input-group>
                  <label igxLabel for="identification" translate>Identification</label>
                  <input
                    igxInput
                    name="name"
                    id="identification"
                    type="text"
                    required
                    formControlName="identification"
                  />
                </igx-input-group>
                <small
                  [hidden]="
                    pharmacyAddForm.controls.identification.valid || pharmacyAddForm.controls.identification.untouched
                  "
                  class="text-danger"
                  translate
                  >identification_required
                </small>
              </div>

              <div class="box">
                <igx-input-group>
                  <label igxLabel for="email" translate>Email address</label>
                  <input igxInput name="email" id="email" type="email" required formControlName="email" />
                </igx-input-group>
                <small
                  [hidden]="pharmacyAddForm.controls.email.valid || pharmacyAddForm.controls.email.untouched"
                  class="text-danger"
                  translate
                >
                  Email is required
                </small>
              </div>

              <div class="box">
                <igx-input-group>
                  <label igxLabel for="contact" translate>responsive_partner</label>
                  <input igxInput name="contact" id="contact" type="text" formControlName="contact" />
                </igx-input-group>
              </div>

              <div class="box">
                <ngx-intl-tel-input
                  [cssClass]="'custom'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Germany"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="separateDialCode"
                  name="phone"
                  formControlName="phone">
                </ngx-intl-tel-input>
                <small
                  class="text-danger"
                  *ngIf="this.pharmacyAddForm.controls.phone.status === 'INVALID'"
                  translate
                >Phone number is not valid
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <label igxLabel for="fax" translate>Fax</label>
                  <input igxInput name="fax" id="fax" type="text" formControlName="fax" />
                </igx-input-group>
              </div>
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>
          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Contact Details</span>
              <p translate>
                please_add_your_phone_number_to_be_contacted_by_SMS
              </p>
            </div>
            <div class="col-lg-4">
              <div class="box">
                <igx-input-group>
                  <input igxInput id="street" name="street" type="text" required formControlName="street" />
                  <label igxLabel for="street" translate>Street</label>
                </igx-input-group>
                <small
                  [hidden]="pharmacyAddForm.controls.street.valid || pharmacyAddForm.controls.street.untouched"
                  class="text-danger"
                  translate
                >
                  Street is required
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="address" name="address" type="text" formControlName="address" />
                  <label igxLabel for="address" translate>City</label>
                </igx-input-group>
                <small
                  [hidden]="pharmacyAddForm.controls.address.valid || pharmacyAddForm.controls.address.untouched"
                  class="text-danger"
                  translate
                >
                  Address is required
                </small>
              </div>
              <div class="box">
                <igx-input-group>
                  <input igxInput id="zipCode" name="zipCode" type="text" required formControlName="zipCode" />
                  <label igxLabel for="zipCode" translate>Zip Code</label>
                </igx-input-group>
                <small
                  *ngIf="pharmacyAddForm.controls.zipCode.touched && pharmacyAddForm.controls.zipCode.errors?.required"
                  class="text-danger"
                  translate
                >
                  Zip Code is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    pharmacyAddForm.controls.zipCode.touched && pharmacyAddForm.controls.zipCode.errors?.invalidNumber
                  "
                  translate
                >
                  Zip Code is not a valid number
                </small>
              </div>
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>

          <div class="columns row">
            <div class="col-lg-3">
              <span class="subheadin" translate>Status</span>
            </div>
            <div class="col-lg-4">
              <div class="box" translate>
                <igx-switch
                  [checked]="true"
                  name="isActive"
                  id="isActive"
                  [(ngModel)]="isActivepp"
                  formControlName="isActive"
                >
                </igx-switch>
                {{ isActivepp ? 'Active' : 'Inactive' }}
              </div>
            </div>
            <div class="col-lg-5">&nbsp;</div>
          </div>
        </div>
      </form>
    </article>
  </section>
</div>
