<div class="main-home">
  <div class="sample-wrapper">
    <div class="row home-image">
      <img class="nambaya-logo" src="assets/images/home/nambaya-logo.svg" />
      <p>Know your numbers...for a better Tomorrow</p>
    </div>
    <div class="card-area">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 d-flex mb-3">
          <igx-card>
            <igx-card-content>
              <div class="home-page-content">
                <div class="image-home-area">
                  <img src="assets/images/home/Component43–1.svg" />
                </div>
                <div class="links-area">

                  <div class="linked-holder row">
                    <a href="/pharmacist" class="link">
                      <div class="icon-holder">
                        <img src="assets/images/home/Component54–1.svg" />
                      </div>
                      <span>Zugang Apotheke</span>
                    </a>
                    <a href="/cardiologist" class="link">
                      <div class="icon-holder">
                        <img src="assets/images/home/Component-48.svg" />
                      </div>
                      <span>Zugang Kardiologie</span>
                    </a>
                    <a href="/user" class="link">
                      <div class="icon-holder">
                        <img src="assets/images/home/Component-50.svg" />
                      </div>
                      <span>QT-Life Team</span>
                    </a>
                    <a href="/center" class="link">
                      <div class="icon-holder">
                        <img src="assets/images/home/Component-51.svg" />
                      </div>
                      <span>Ärztliche Leitstelle</span>
                    </a>
                  </div>
                </div>
              </div>
            </igx-card-content>
          </igx-card>
        </div>
      </div>
    </div>
    <div class="p-info-text">
      <p>
        Das Projekt QT-Life umfasst die besondere Versorgung von Patienten zur Verbesserung der Arzneimitteltherapiesicherheit (AMTS) in Deutschland. QT-Life befasst sich hier konkret mit solchen Arzneimittelnebenwirkungen, die gefährliche Herzrhythmusstörungen vom Typ der Torsade-de-Pointes verursachen können. In der Apotheke wird die Arzneimittelanamnese durch den Apotheker erhoben. Das 24h EKG wird in der Apotheke zum Monitoring angelegt. Eine erste Auswertung der QT Zeit erfolgt nach Rückgabe des Rekorders in der Apotheke. Dieses ist eine Innovation. Die beteiligten Kardiologen erstellen dann noch einen Langzeit EKG Befund.
      </p>
    </div>
  </div>
</div>
