<div class="login-holder">
  <div class="login-header">
    <div class="logo">
      <a class="logo-area" translate (click)="goBack()"><img src="assets/images/logo.png"/></a>
      <span translate>Know your numbers...for a better tomorrow</span>
    </div>
    <button (click)="toggleLanguage()" igxButton="outlined" class="lang-btn">{{ alternateLanguage }}</button>
  </div>
  <div class="login-content">
    <div class="image-area">
      <img src="assets/images/login-lady-gradient-cycle.png" />
    </div>
    <div class="form-area" *ngIf="requstNewOtp">
      <div class="form">
        <h1 translate>{{ pageName }}</h1>
        <p translate>Type your email address in below box and press send button <br /></p>
        <form class="input-group-form" [formGroup]="forgetPasswordForm" (ngSubmit)="getPasswordResetOtp()">
          <div class="form-box">
            <igx-input-group>
              <label igxLabel for="email" translate>Email address</label>
              <input igxInput id="email" name="email" type="email" formControlName="email" required />
            </igx-input-group>
          </div>
          <div class="form-box">
            <button
              class="btn-primary"
              igxButton="raised"
              type="submit"
              igxRipple
              [disabled]="!forgetPasswordForm.valid"
              translate
            >
              Get OTP
            </button>
          </div>
        </form>
        <div class="form-box">
          <ul>
            <li><a (click)="goBack()" translate>Cancel</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-area" *ngIf="otpSent">
      <div class="form">
        <h1 translate>{{ pageName }}</h1>
        <p translate>
          An OTP is sent to your {{ selectedMode.displayName }}. Please check and enter in below box. <br />
        </p>
        <form class="input-group-form" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
          <div class="form-box">
            <igx-input-group>
              <label igxLabel for="otp" translate>OTP</label>
              <input igxInput id="otp" name="otp" type="{{ passwordFieldType }}" formControlName="otp" required />
              <igx-suffix (click)="showPassword()">
                <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
              </igx-suffix>
            </igx-input-group>
          </div>
          <div class="form-box">
            <ul>
              <li [hidden]="!isAllowedToSendAgain">
                <a [hidden]="!confirmPasswordForm.controls.toggle.value">
                  <countdown #timer [config]="config" (event)="onTimerFinished($event)"></countdown>
                </a>
                <a translate [hidden]="confirmPasswordForm.controls.toggle.value" (click)="toggleOtpOption()"
                  >send_opt_on_my_{{ selectedMode.alternateOption }}_instead_{{ selectedMode.displayName }}</a
                >
              </li>
              <li [hidden]="confirmPasswordForm.controls.toggle.value">
                <a [hidden]="isAllowedToSendAgain">
                  <countdown #sendOTPAgaintimer [config]="config" (event)="onTimerFinishedOtp($event)"></countdown>
                </a>
                <a [hidden]="!isAllowedToSendAgain" (click)="sendAgain()" translate> Resend</a>
              </li>
            </ul>
          </div>

          <div class="form-box">
            <button
              class="btn-primary"
              igxButton="raised"
              type="submit"
              igxRipple
              [disabled]="!otpForm.valid"
              translate
            >
              Verify
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="form-area" *ngIf="allowedEnterNewPassword">
      <div class="form">
        <h1 translate>{{ pageName }}</h1>
        <p translate>Please enter new password <br /></p>
        <form class="input-group-form" [formGroup]="confirmPasswordForm" (ngSubmit)="saveNewPassword()">
          <div class="form-box">
            <igx-input-group>
              <label igxLabel for="otp" translate>Password</label>
              <input
                igxInput
                id="otp"
                name="otp"
                type="{{ passwordFieldType }}"
                formControlName="newPassword"
                required
              />
              <igx-suffix (click)="showPassword()">
                <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
              </igx-suffix>
            </igx-input-group>
            <small
              class="text-danger"
              *ngIf="
                confirmPasswordForm.controls.newPassword.touched &&
                confirmPasswordForm.controls.newPassword.errors?.invalidPassword
              "
              translate
              >validation_password_minimum_error
            </small>
          </div>

          <div class="form-box">
            <igx-input-group>
              <label igxLabel for="otp" translate>Confirm Password</label>
              <input
                igxInput
                id="otp"
                name="otp"
                type="{{ passwordFieldType }}"
                formControlName="confirmPassword"
                required
              />
              <igx-suffix (click)="showPassword()">
                <i class="fas fa-eye" *ngIf="passwordFieldType == 'password'"></i
                ><i class="fas fa-eye-slash" *ngIf="passwordFieldType == 'text'"></i>
              </igx-suffix>
            </igx-input-group>
            <small
              class="text-danger"
              *ngIf="
                confirmPasswordForm.controls.confirmPassword.touched &&
                confirmPasswordForm.controls.confirmPassword.errors?.passwordMismatch
              "
              translate
              >validation_password_does_not_match
            </small>
          </div>
          <div class="form-box">
            <countdown
              #timerNewPassword
              [config]="configNewPasswordCountDown"
              (event)="onTimerFinishedForPassword($event)"
            ></countdown>
          </div>

          <div class="form-box">
            <button
              class="btn-primary"
              igxButton="raised"
              type="submit"
              igxRipple
              [disabled]="!confirmPasswordForm.valid"
              translate
            >
              Save & Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
