<div class="main-heading">
  <h4 class="sample-title" translate><span (click)="goBack()" class="icon-previous"></span> Template List</h4>
</div>
<div class="column-holder">
  <div class="" style="float: left">
    <button
      style="font-weight: normal"
      translate
      [routerLink]="['/user/dashboard']"
      class="btn-primary"
      igxButton="raised"
      igxRipple
    >
      <span class="icon-Union-2"></span> &nbsp; Dashboard
    </button>
  </div>
  <form class="input-group-form" [formGroup]="templateSearchForm" (ngSubmit)="applyFilters(true)">
    <div class="search-area">
      <div class="box">
        <input
          #code
          data-description="Code"
          class="form-control"
          type="search"
          placeholder="{{ 'Code' | translate }}"
          formControlName="code"
        />
        <span class="icon-cheveron-down" id="chev" (click)="clickEvent($event)"></span>
        <div class="dropdown-search" [ngClass]="{ active: toggleBtn }">
          <div class="dropdown" (clickOutside)="onClickedOutside($event)">
            <a (click)="toggleBtn = false" class="icon-cancel"></a>
            <ul class="row">
              <li class="col-lg-6">
                <igx-input-group>
                  <label igxLabel for="subject" translate>Subject</label>
                  <input
                    #subject
                    data-description="Subject"
                    igxInput
                    type="text"
                    formControlName="subject"
                    name="subject"
                  />
                </igx-input-group>
              </li>
              <li class="col-lg-6">
                <igx-input-group>
                  <label igxLabel for="message" translate>Message</label>
                  <input
                    #message
                    data-description="Message"
                    igxInput
                    type="text"
                    formControlName="message"
                    name="message"
                  />
                </igx-input-group>
              </li>
              <li class="col-lg-12">
                <button class="btn btn-primary" translate>Search</button>
                <button (click)="resetFilters()" type="button" class="btn btn-default" translate>Reset</button>
              </li>
            </ul>
          </div>
        </div>
        <span class="icon-Path-1941" (click)="applyFilters(true)"></span>
      </div>
    </div>
  </form>
  <div class="tags-area" *ngIf="filterTags.length > 0">
    <ul>
      <li><span class="active-filter" translate>Active Filters: </span></li>
      <li *ngFor="let tag of filterTags; index as i">
        <span class="">{{ tag.Description | translate }}: {{ tag.Value | translate }}</span>
        <a (click)="removeFilter(tag.Property)" class="icon-cancel-circle"></a>
      </li>
    </ul>
  </div>
  <div class="grid__wrapper">
    <igx-grid
      #grid1
      [data]="data | async"
      width="100%"
      [height]="null"
      [paging]="true"
      [perPage]="perPage"
      [emptyGridMessage]="'There are no records to display' | translate"
      [paginationTemplate]="customPager"
      [cellSelection]="'none'"
      (onCellClick)="handleRowClick($event)"
    >
      <igx-column field="code" width="15%">
        <ng-template igxHeader let-column>
          <div class="mysortingArea" (click)="sort(column.field)">
            <a translate> Code </a>
            <span style="float: right;">
              <i class="fas fa-arrow-up" *ngIf="order === 'ASC' && columnName === column.field"></i
              ><i class="fas fa-arrow-down" *ngIf="order === 'DESC' && columnName === column.field"></i>
            </span>
          </div>
        </ng-template>
      </igx-column>

      <igx-column field="subject" width="20%">
        <ng-template igxHeader let-column>
          <div class="mysortingArea" (click)="sort(column.field)">
            <a translate> Subject </a>
            <span style="float: right;">
              <i class="fas fa-arrow-up" *ngIf="order === 'ASC' && columnName === column.field"></i
              ><i class="fas fa-arrow-down" *ngIf="order === 'DESC' && columnName === column.field"></i>
            </span>
          </div>
        </ng-template>
        <ng-template igxCell let-value>
          {{ value | slice: 0:30 }}
        </ng-template>
      </igx-column>

      <igx-column field="message" width="55%">
        <ng-template igxHeader let-column>
          <div class="mysortingArea" (click)="sort(column.field)">
            <a translate> Message </a>
            <span style="float: right;">
              <i class="fas fa-arrow-up" *ngIf="order === 'ASC' && columnName === column.field"></i
              ><i class="fas fa-arrow-down" *ngIf="order === 'DESC' && columnName === column.field"></i>
            </span>
          </div>
        </ng-template>
        <ng-template igxCell let-value>
          <div [innerHTML]="value | slice: 0:40"></div>
        </ng-template>
      </igx-column>

      <igx-column [pinned]="true" field="id" header="{{ 'Action' | translate }}" width="100px">
        <ng-template igxCell let-value let-cell="cell">
          <div class="grid-actions">
            <button
              title="{{ 'Take Action' | translate }}"
              class="list-drop"
              [routerLink]="['/user/template/edit', value]"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
        </ng-template>
      </igx-column>
    </igx-grid>
    <ng-template #customPager let-api>
      <igx-paginator
        #paginator
        [totalRecords]="totalCount"
        [(perPage)]="perPage"
        [selectLabel]="'Records per page:' | translate"
        [selectOptions]="selectOptions"
        [displayDensity]="grid1.displayDensity"
        (pageChange)="paginate($event)"
        (perPageChange)="perPageChangeFn($event)"
      >
      </igx-paginator>
    </ng-template>
  </div>
</div>
