.fullpage-wrapper {
  height: 97vh;
  width: 100%;
}
.content-wrapper {
  top: 25%;
  position: relative;
  background: white;
  margin: auto;
  padding: 20px;
}
.content {
  margin: auto;
  font-family: "nunito_sansregular" !important;
}
.headding-403 {
  font-family: "nunito_sansregular" !important;
  font-size: 10rem;
  color: #cf3752;
}
