<!-- <div class="column-holder" style="margin: 50% auto;">
  <div class="main-heading">
    <div class="grid__wrapper">
      <div class="row">
        <div class="col-md-12">
          <h4 class="sample-title" translate>you are not authorized.</h4>
          <p translate>Please contact admins to give you the access</p>
        </div>
      </div>

    </div>
  </div>
</div> -->
<div class="fullpage-wrapper">
  <div class="row content-wrapper">
    <div class="col-md-6 text-center content">
      <h1 class="headding-403">403</h1>
      <h3 translate>unauthorized</h3>
      {{ 'you_are_not_allowed_to_enter_here' | translate }}
    </div>
  </div>
</div>
